<div class="crop d-inline-block"
     [style.width.px] = 'starWidth'
     [title]="rating"
     (click) = 'OnClick()'
>
  <div class="stars d-flex no-wrap justify-content-between align-items-center" width="90px">
    <span class="fas fa-star" style="width:18px"></span>
    <span class="fas fa-star" style="width:18px"></span>
    <span class="fas fa-star" style="width:18px"></span>
    <span class="fas fa-star" style="width:18px"></span>
    <span class="fas fa-star" style="width:18px"></span>
  </div>
</div>
