<div class="card" *ngIf="product">
  <div class="card-header">{{product.productName}}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <ul class="list-group border-0">
          <li class="list-item border-0">Name: {{product.productName}}</li>
          <li class="list-item border-0">Code: {{product.productCode}}</li>
          <li class="list-item border-0">Price: {{product.price | currency:'USD':'symbol':'1.2-2'}}</li>
          <li class="list-item border-0">
            <span>Rating: </span>
            <pm-star [rating]="product.starRating"></pm-star>
          </li>
        </ul>
      </div>
      <div class="col">
        <div class="mx-0">
          <img [src]="product.imageUrl" [alt]="product.productName" width="250" height="250">
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary mx-2" (click)="onBack()"><i class="fa fa-backward mx-2"></i>Back</button>
  </div>
</div>
